h1{
    /* modificaciones en el titulo */
    color: #ef476f;
    background-color: beige;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #ced4da;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-decoration: overline underline;
}
.caja{
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    border-radius: 5px;
    color: azure;
}
.texto{
    text-align: justify;
    text-indent: 30px;
    /* el color de sombra debe ser sutil */
    text-shadow: 1px 1px #ced4da;
}
.texto2{
    text-align: right;
    line-height: 3;
    /* nowrap se sale del div */
    white-space: normal;
}
.texto3{
    /* texto de derecha a izquierda, no comun */
    direction: rtl;
    text-align: left;
    text-decoration: line-through;
    line-height: .8;
}