/* Generador de paleta https://coolors.co */
/*    (existen muchos más) */
/* https://coolors.co/a4243b-d8c99b-d8973c-bd632f-273e47 */
body{
    background-color: #F7F7FF;
}
h1{
    color:#545E75;
}
p{
    color:#3F826D;
    background-color: #F2D0A4;

    /*    Valores generales, se aplican en los 4 bordes */
    /* padding: 15px; */
    /* border: 10px solid powderblue; */
    /* margin: 50px; */

    /*    Valores individuales,  */
    padding: 15px;
    border: 10px solid #C03221;
    /* margin-top: 40px; */
    /* margin-right: 10px; */
    /* margin-bottom: 20px; */
    /* margin-left: 10px; */

    /*    En gerarquía: Arriba, Derecha, Abajo, Izquierda */
    /* margin: 40px 10px 20px 10px; */
    /*    Simplificando, si quito uno de los lados, el valor aplica para ambos */
    /* margin: 40px 10px 20px; /* 40 arriba, 10 derecha e izquierda, 20 abajo */
    /* margin: 15px 10px; /* 15 arriba y abajo, 10 derecha e izquierda */
    /*    Para centrar horizontalmente */
    margin: auto 25px;
    text-align: center;
}